{% extends 'layout.html' %}

{% block title %}
    Diet Guide
{% endblock title %}

{% block main %}
    
        <div class="container-lg py-2 px-5 mt-3 smooth fade-in-up">

            <div class="my-3">
                <h3 class="guide-title">Let's discover your ideal diet
                    <span class="noto-fire">🔥</span>
                </h3>
            </div>

            <div class="guide-main rounded">
                <div class="px-5 pt-3 pb-3 ">
                    <h4>Keto Diet
                        <a href="javascript:void(0)" class="toggler ms-2 bi bi-chevron-down"></a>
                    </h4>
                    <div class="my-4 hide">
                        <h5>What is Keto Diet?</h5>
                        <p class="diet-overview">
                            The ketogenic (keto) diet is a high-fat, low-carbohydrate diet that has been claimed to help
                            people lose
                            weight. The
                            primary idea behind the keto diet is to get your body into a state of ketosis, where it's
                            burning fat
                            for fuel instead
                            of carbohydrates.
                        </p>
                        <h5>How to Do It?</h5>
                        <ol>
                            <li><b>Low Carbohydrate Intake :</b> Limit your daily carbohydrate intake to about 20-50
                                grams per day,
                                mainly from low-carb vegetables.</li>
                            <li><b>High Fat Intake :</b> The majority of your calories should come from healthy fats
                                like avocados,
                                nuts, seeds, and olive oil.
                            </li>
                            <li><b>Avoid Sugary Foods :</b> Stay away from sugar and sugary foods, grains, beans, and
                                starchy
                                vegetables.</li>
                            <li><b>Stay Hydrated :</b> Drink plenty of water and replenish electrolytes, especially in
                                the beginning
                                stages to avoid the "keto flu."</li>
                            <li><b>Moderate Protein :</b> Consume a moderate amount of protein, usually around 20% of
                                your daily
                                calories.</li>
                        </ol>
                        <h5>Benefits</h5>
                        <ul>
                            <li><strong>Mental Clarity :</strong> Can improve mental focus.</li>
                            <li><strong>Weight Loss :</strong> Burns fat for energy, aiding weight loss.</li>
                            <li><strong>Blood Sugar Control :</strong> Helps regulate blood sugar.</li>
                            <li><strong>Energy Levels :</strong> Balances energy throughout the day.</li>
                            <li><strong>Heart Health :</strong> Reduces triglyceride levels, lowering heart disease
                                risk.</li>
                        </ul>
                    </div>
                </div>
                <div class="px-5 pt-3 pb-3 ">
                    <h4>DASH Diet
                        <a href="javascript:void(0)" class="toggler ms-2 bi bi-chevron-down"></a>
                    </h4>
                    <div class="my-4 hide">
                        <h5>What is DASH Diet?</h5>
                        <p class="diet-overview">
                            DASH stands for Dietary Approaches to Stop Hypertension. It's designed to prevent and lower
                            high blood
                            pressure by
                            emphasizing foods rich in nutrients like potassium, calcium, protein, and fiber.
                        </p>
                        <h5>How to Do It?</h5>
                        <ol>
                            <li><b>Rich in Fruits and Vegetables :</b> Consume 4-5 servings of fruits and 4-5 servings
                                of vegetables
                                daily.</li>
                            <li><b>Moderate on Whole Grains :</b> Aim for 6-8 servings of whole grains per day.
                            </li>
                            <li><b>Include Lean Proteins :</b> Incorporate 2 or fewer servings of lean meats, poultry,
                                or fish per
                                day.
                                your diet.</li>
                            <li><b>Limit Saturated Fats :</b> Reduce saturated fat intake and avoid trans fats. Opt for
                                healthy fats
                                like those found in olive oil and avocados.
                                products like butter and ghee.</li>
                            <li><b>Watch Sodium Intake :</b> Limit sodium intake to 2,300 mg per day or ideally 1,500 mg
                                for those
                                with high blood pressure.</li>
                        </ol>
                        <h5>Benefits</h5>
                        <ul>
                            <li><strong>Lower Blood Pressure :</strong> Reduces hypertension.</li>
                            <li><strong>Heart Health :</strong> Lowers heart disease risk.</li>
                            <li><strong>Digestive Health :</strong> Helps regulate blood sugar.</li>
                            <li><strong>Weight Management :</strong> Supports healthy weight.</li>
                            <li><strong>Cancer Prevention :</strong> Reduces risk of certain cancers.</li>
                        </ul>
                    </div>
                </div>
                <div class="px-5 pt-3 pb-3 ">
                    <h4>Paleo Diet
                        <a href="javascript:void(0)" class="toggler ms-2 bi bi-chevron-down"></a>
                    </h4>
                    <div class="my-4 hide">
                        <h5>What is Paleo Diet?</h5>
                        <p class="diet-overview">
                            The paleo diet aims to mimic the diet of our hunter-gatherer ancestors. It focuses on whole
                            foods, lean
                            proteins,
                            fruits, vegetables, nuts, and seeds, while avoiding processed foods, grains, dairy, and
                            legumes.
                        </p>
                        <h5>How to Do It?</h5>
                        <ol>
                            <li><b>Eat Whole Foods :</b> Consume lean meats, fish, fruits, vegetables, nuts, and seeds.
                            </li>
                            <li><b>Avoid Processed Foods :</b> Eliminate processed foods, sugar, refined oils, and
                                artificial
                                additives.</li>
                            <li><b>No Grains or Legumes :</b> Exclude grains (including gluten-containing grains) and
                                legumes
                                (beans, lentils, peanuts) from
                                your diet.</li>
                            <li><b>No Dairy :</b> Avoid dairy products, although some versions of the paleo diet allow
                                for limited
                                consumption of certain dairy
                                products like butter and ghee.</li>
                            <li><b>Moderate Protein :</b> Consume moderate amounts of high-quality, lean protein.</li>
                        </ol>
                        <h5>Benefits</h5>
                        <ul>
                            <li><strong>Nutrient Intake :</strong> Provides essential nutrients.</li>
                            <li><strong>Weight Loss :</strong> Facilitates weight loss.</li>
                            <li><strong>Blood Sugar Control :</strong> Helps regulate blood sugar.</li>
                            <li><strong>Muscle Mass :</strong> Supports muscle growth.</li>
                            <li><strong>Energy Levels :</strong> Balances energy throughout the day.</li>
                            <li><strong>Digestive Health :</strong> Improves digestion, reduces bloating.</li>
                        </ul>
                    </div>
                </div>
                <div class="px-5 pt-3 pb-3 ">
                    <h4>Mediterranean Diet
                        <a href="javascript:void(0)" class="toggler ms-2 bi bi-chevron-down"></a>
                    </h4>
                    <div class="my-4 hide">
                        <h5>What is Mediterranean Diet?</h5>
                        <p class="diet-overview">
                            The Mediterranean diet is inspired by the traditional eating habits of people living in the
                            Mediterranean region. It
                            emphasizes whole foods, healthy fats, lean proteins, and plenty of fruits and vegetables.
                        </p>
                        <h5>How to Do It?</h5>
                        <ol>
                            <li><b>Abundance of Fruits and Vegetables :</b> Consume a variety of colorful fruits and
                                vegetables. These provide essential vitamins, minerals, and antioxidants.</li>
                            <li><b>Whole Grains :</b> Opt for whole grains such as brown rice, quinoa, whole wheat, and
                                whole grain pasta. These provide fiber and nutrients.</li>
                            <li><b>Limit Red Meat :</b> Red meat should be consumed in small amounts. Instead, focus on
                                plant-based proteins and fish.</li>
                            <li><b>Dairy in Moderation :</b> Consume dairy products like yogurt and cheese in
                                moderation. Choose low-fat or fat-free options.</li>
                            <li><b>Social Engagement and Enjoyment :</b> The Mediterranean diet is not just about the
                                food but also about enjoying meals with family and friends. Cultivate a
                                positive mealtime environment and savor your food.</li>
                        </ol>
                        <h5>Benefits</h5>
                        <ul>
                            <li><strong>Improved Insulin Sensitivity :</strong> Helping in the prevention and management
                                of type 2 diabetes.</li>
                            <li><strong>Brain Health :</strong> Reduces cognitive decline and supports mental
                                well-being.</li>
                            <li><strong>Weight Management :</strong> Aids in weight loss and maintenance.</li>
                            <li><strong>Heart Health :</strong> Reduces heart disease risk and lowers blood pressure.
                            </li>
                            <li><strong>Cancer Prevention :</strong> Rich in antioxidants, reducing certain cancer
                                risks.</li>
                            <li><strong>Longevity :</strong> Associated with a longer lifespan.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
{% endblock %}


    {% block  script %}
        <script src="/static/js/calculate.js"></script>
        <script src="/static/js/toggle.js"></script>
    {% endblock  %}
   

