{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    
        <div class="container-lg py-2 px-5 mt-3 fade-in-up">
            <div class="py-3 text-center">
                <h1 class="fw-bold">Welcome to Dietary<span class="noto-fire">❕</span> </h1>
                <h6 class="fw-bold">Discover Your Best Health Through Balanced Diet.</h6>
            </div>
            <div class="d-lg-flex py-5 px-2 align-items-center justify-content-between">
                <div class="col-lg-5">
                    <img class="img-fluid carousel rounded" name="carousel">
                </div>
                <div class="col-lg-6 about-us rounded">
                    <div class="pt-3 pb-2 py-3">
                        <h4 class="text-center">About Us</h4>
                    </div>
                    <div class="px-5 pb-4">
                        <p class="text-center about-us-content">
                            At <strong style="color: var(--green);">Dietary</strong>, we believe in the transformative
                            power of healthy eating. Founded by a team of nutrition enthusiasts,
                            our
                            mission is to make balanced nutrition accessible and enjoyable for everyone. We understand
                            that maintaining a
                            healthy
                            diet can be challenging in today's fast-paced world. That's why we've created a
                            user-friendly platform that empowers
                            you
                            to take charge of your health effortlessly.
                        </p>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}


{% block script %}
    <script src="/static/js/carousel_index.js"></script>
{% endblock %}


   
  

