{% extends 'layout.html' %}

{% block title %}
Login
{% endblock title %}

{% block main %}

<div class="container-lg py-5 px-5 mt-3 fade-in-up">

    <div class="row justify-content-around align-items-center my-5">
        <div class="col-md-4 border-hover">
            <img class="img-fluid carousel rounded " name="carousel">
        </div>
        <div class="col-md-5 px-5 py-5  rounded p-5 col-xl-4 offset-xl-1 form-login">
            {% if get_flashed_messages() %}
            <div class="alert alert-danger mb-0 text-center" role="alert">
                {{ get_flashed_messages() | join(" ") }}
            </div>
            {% endif %}
            <form action="/login" method="POST">
                <div class="mb-3">
                    <input type="text" autofocus autocomplete="off" id="username" name="username" class="form-control"
                        placeholder="Username" required />
                </div>
                <div class="mb-3">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                        required />
                </div>
                <div class="mb-3 text-center d-grid gap-2">
                    <input type="submit" id="login" value="Login" class="btn btn-danger px-5" />
                </div>
                <div class="mb-3 text-center">
                    <p id="validation" class="mb-3 small text-center fw-light text-muted">{{ message }}</p>
                    <p>Don't have an account?
                        <a href="/register"><b>Register.</b></a>
                    </p>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock main %}

{% block script %}
<script src="/static/js/carousel_login.js"></script>
{% endblock script %}